<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>LoginPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-item>
    <ion-label floating>Email Address</ion-label>
    <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-row>
      <ion-col col-12>

       <button ion-button block color='light'  (tap)="login()">Sign In</button>

      </ion-col>
      <!-- <ion-col col-6>
         <button ion-button block color='light' (tap)="register()">Register</button>

      </ion-col> -->
  </ion-row>

</ion-content>
