<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Your current Location is</h2>
  <p>latitude: {{latitude}}</p>
  <p>longitude: {{longitude}}</p>
   <!-- <p>{{status}}</p> -->
  <p>Response: {{response}}</p> 
</ion-content>
